{% load static %}
<footer>
    <div class="copy">
      <div class="cpy-content">
        <a href="#">© CCENT</a>        
      </div>
    </div>
    <div class="sociales">
      <div class="face-content">
        <a href="https://goo.gl/maps/XhfQRYTXGkCA9R8K9" target="_blank"> <img class="face__content--img" src= "{% static 'img/maps.png' %}" alt=""></a>
      </div>
      <div class="face-content">
        <a href="https://api.whatsapp.com/send?phone=5540413229" target="_blank"><img class="face__content--img" src="{% static 'img/whats.png' %}" alt=""></a>
      </div>
      <div class="face-content">
        <a href="https://www.facebook.com/ccent.escuelaelectronica" target="_blank"><img class="face__content--img" src=" {% static 'img/face.png' %}" alt=""></a>
      </div>
    </div>
</footer>