.contenedor{
    width: 100%;
    height: 100%;
    margin-top: 10rem;
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    flex-direction: row;
}

.contenedor__historia{
    
    -webkit-box-shadow: 11px 12px 19px -9px rgba(138,138,138,1);
    -moz-box-shadow: 11px 12px 19px -9px rgba(138,138,138,1);
    box-shadow: 11px 12px 19px -9px rgba(138,138,138,1);
    border-radius: 15px;
    background-color: white;
    display: flex;
    height: auto;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
    
}

.contenedor__historia p{
    text-align: justify;
    line-height: 133%;
    width: 100%;
}

.contenedor__mvv{ 
    -webkit-box-shadow: 11px 12px 19px -9px rgba(138,138,138,1);
    -moz-box-shadow: 11px 12px 19px -9px rgba(138,138,138,1);
    box-shadow: 11px 12px 19px -9px rgba(138,138,138,1);
    border-radius: 15px;
    background-color: white;
    padding: 20px 25px;
    width: 100%;
    display: flex;
    column-gap: 15px;
    row-gap: 50px;
    grid-template-columns:  1.5fr 0.1fr 1.5fr;
    grid-template-rows: auto auto;
    flex-wrap: wrap;
    grid-template-areas: 
    "mision . vision"
    "valores . logo"; 
  }
  
.contenedor__mision { grid-area: mision; }
.contenedor__vision { grid-area: vision; }
.contenedor__logo { 
    grid-area: logo;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor__logo img{ 
    object-fit: cover;
     
}
.contenedor__img{
    width: 100%;
    height: auto;
}

@media (max-width: 915px){
  .contenedor{
    flex-direction: column;
  }

  .contenedor__mvv{
    margin-top: 1rem;
  }

}