.item-title { grid-area: titulo;}
.item-img { grid-area: img;}
.item-contenido { grid-area: contenido;}
.item-boton{grid-area: boton;}

.container-material{
  width: auto;
  height: auto;
  margin:10rem 1.5rem 1.5rem 1.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background: white;
  -webkit-box-shadow: 9px 11px 18px -8px rgba(117,117,117,0.96);
  -moz-box-shadow: 9px 11px 18px -8px rgba(117,117,117,0.96);
  box-shadow: 9px 11px 18px -8px rgba(117,117,117,0.96);
}

.container-grid{
  display: grid;

    grid-template-areas:
    'img titulo titulo titulo titulo titulo'
    'img contenido contenido contenido contenido contenido';
  
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

.boton-regresar{
  display: flex;
  flex-direction: row-reverse;
}

.item-title{
  width: 100%;
  height: 5rem;
  font-size: 2vh;

}

.item-img{
  justify-self: center;
  height: 100%;
  margin-right: 5rem;
}

.item-contenido p{

  width: 100%;
}

p{
  width: 100%;

}

.tem-contenido{
  width: 100%;
}

.p-piezas, .p-precio{
  margin-top: 2.5rem;
  text-transform:uppercase;
  font-weight: bold;
}

.parrafo{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.p-desc{
  width: 100%;
  font-size: 1.7rem;
}

.p-precio{
  font-size: 2rem;
}

.img-material{
  width: 30rem;
  height: 30rem;
  object-fit: scale-down;
}

main{
display: flex;
    justify-content: center;
}

.container-material{
  width: 100rem;
}

button {
 position: relative;
 font-size: 14px;
 letter-spacing: 3px;
 height: 3em;
 padding: 0 3em;
 border: none;
 background-color: rgb(3 53 64);
 color: #fff;
 text-transform: uppercase;
 overflow: hidden;
 border-radius: 5px
}

button::before {
 content: '';
 display: block;
 position: absolute;
 z-index: 0;
 bottom: 0;
 left: 0;
 height: 0px;
 width: 100%;
 background: rgb(27, 83, 196);
 background: linear-gradient(90deg, rgb(3 53 64 / 78%) 20%, rgb(11 100 118) 100%);
 transition: 0.2s;
}

button .label {
 position: relative;
}

button .icon {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 3em;
 width: 3em;
 position: absolute;
 top: 3em;
 right: 0;
 opacity: 0;
 transition: 0.4s;
}

button:hover::before {
 height: 100%;
}

button:hover .icon {
 top: 0;
 opacity: 1;
}



@media (max-width: 915px){
  .container-grid{
  display: grid;

    grid-template-areas:
    'titulo'
    'img'
    'contenido';
  
    padding: 0.5rem;
    width: 100%;
    height: 100%;
  }

  .p-precio, .p-piezas{
    text-align: center;
  }

  .item-title{
    text-align: center;
    
  }

  .p-desc{
    text-align: justify;
  }

  .img-material{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  .item-img{
    margin: 0;
  }
  .boton-regresar{
    display: none;
  }
}