{% extends 'layouts/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"1
<link rel="stylesheet" href={%static 'css/style.css'%}>
<link rel="stylesheet" href= {%static 'css/cursosEx.css'%}>
{% endblock stylesheet %}

{% block content %}

<div class="cont_mod1">
  <div class="contenedor-infCurso">
    <div class="contenedor_tMod1">
      <div class="contenedor-titulomd1">
        <h1 class="title_mod1">
        {{curso.nombre}}
        </h1>
      </div>
    </div>
    <div class="contenedor_descMod1">
      <p class="desc_mod1">{{curso.descripcion | safe}}
      </p>
    </div>
    <div class="contenedor_imgMod1">
      <div class="area-img">
        <img class="curso-img" src="{{curso.imagen.url}}" alt="">
      </div>
    </div>
  </div>

  <div class="contenedor_inscripcion">
    <div class="titulo_inscripcion">
      <h1>Inversión</h1>
    </div>
    <div class="inf_inscripcion">
      <p class="pago_regular">${{curso.costo}} MX</p>
    </div>
    <div class="titulo_inscripcion">
      <h1>Dias y horario</h1>
    </div>
    <div class="inf_inscripcion">
      <p class="pago_regular2">Inicio: {{curso.inicio}}</p>
      <p class="pago_pronto">Fin: {{curso.fin}} </p>
      <p class="pago_pronto">Horario: {{curso.hora}} hrs.</p>
      
    </div>

    <div class="titulo_inscripcion">
      <h1>Cupo Limitado</h1>
    </div>
  </div>
</div>

  

<div class="cont_banner">
  <div class="banner__texto">
    <p class="banner">
      Para más información puedes contactarnos en nuestras redes sociales o    presionar “Me interesa” para mandarnos un correo electrónico.
    </p>
  </div >
  <div class="banner__btn">                
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
   <div class="cont__btn"><img src={% static 'img/sobre.png' %} alt="">  Me interesa </div>
    
  </button>

    <!-- Formulario -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{curso.nombre}}</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="needs-validation" novalidate>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Nombre</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre" required>
                  <div class="invalid-feedback">Ingrese su nombre</div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Correo electrónico</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" pattern="^[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,5}$" placeholder="name@example.com" required>
                  <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Número de teléfono</label>
                  <input type="tel" class="form-control" id="exampleFormControlInput1" pattern="^\d{10}$"  placeholder="ej. 0123456789" required>
                  <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">CURP</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" pattern="^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$" required>
                  <div class="invalid-feedback">Ingrese su CURP</div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Mensaje</label>
                  <textarea class="form-control" placeholder="Escribe tu mensaje..." id="exampleFormControlTextarea1" rows="3" required></textarea>
                </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  
</div>
<script>
      
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
    
          form.classList.add('was-validated')
        }, false)
      })
    })()
          
      </script> 
</div>

{% endblock content %}